{% extends 'base.html' %}
{% load static include_anything %}

{% block head %}
  {{ block.super }}
  <script>
    var iosDragDropShim = { enableEnterLeave: true }
  </script>
  <script src="{% static 'js/ios-drag-drop.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
  <style type="text/css">
    #wastes {
      margin-left:auto;
      margin-right:auto;
      text-align: center;
    }
    #wastes > div {
      display:inline-block;
      vertical-align: top;
    }
    .waste {
      width:60px;
      height: 85px;
      text-align: center;
      border: 1px solid #aaa;
      border-radius: 5px;
      cursor: pointer;
      margin:3px;
      font-size: 0.6em
    }
    .waste:hover {
      background-color: #ddd;
      border:1px solid #888;
    }
    .waste img {
      width:50px;
      height: 50px;
    }
    #dustbins {
      margin-left:auto;
      margin-right:auto;
      text-align: center;
    }
    #dustbins > div {
      display:inline-block;
      vertical-align: top;
    }
    .dustbin {
      width:66px;
      border: 1px solid #aaa;
      border-radius: 5px;
    }
    .dustbin img {
      width:60px;
    }
    #insee {
      width: 100%;
    }
    #log {
      display: none;
      width: 100%;
      height: 300px;
    }
  </style>
{% endblock head %}

{% block body %}
  <div class="row">

    <div class="col-md-7">
      <h5>De quelles couleurs sont vos poubelles ?</h5>
      <br>

  <form action="{% url 'contribuer' %}" method="post" id="contribution-form">
{% csrf_token %}
<label for="insee"><strong>Glissez les déchets dans les bonnes poubelles !</strong></label>
<p id="passwordHelpBlock" class="form-text text-muted">
  En cas de doute, mettez le déchet dans la poubelle "je ne sais pas".
</p>

  <div ondrop="drop_handler(event);" ondragover="dragover_handler(event);" id="wastes">
      {% for waste in wastes %}
      <div draggable="true" class="waste" ondragstart="dragstart_handler(event);" id="waste-{{ waste.id }}" data-waste="{{ waste.id }}">
        <img draggable="false" src="{{ waste.image.url }}" alt="{{ waste.name }}">
        {{ waste.name|title }}
      </div>
      {% endfor %}
      <div style="clear: both"></div>
  </div>

  <div style="font-size: 2.5em; font-weight: bold;text-align: center;">⇓</div>

  <div id="dustbins">
      {% for dustbin in dustbins %}
        <div class="dustbin" ondragover="dragover_handler(event);" ondrop="drop_handler(event);" data-dustbin="{{ dustbin.id }}">
          <img draggable="false"  src="{{ dustbin.image.url }}" alt="{{ dustbin.name }}">
          <span style="font-size: 0.6em">{{ dustbin.name|title }}</span>
          <div class="drop-zone"></div>
        </div>
      {% endfor %}
  </div>

  <textarea id="log"></textarea>
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <div class="form-group">
      <label for="insee"><strong>Indiquez le code postal de votre commune</strong><br>Entrez les 5 chiffres de votre code postal</label>
      <br>
      <select id="insee" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-secondary btn-block">Contribuer</button>
    <br>
    <div class="alert alert-success">
      <p>Votre contribution est anonyme.
        <br>
        Les données collectées ont vocation à être ouvertes dans un objectif de création de bien commun.
      </p>
    </div>
  </form>

    </div>
    <div class="col-md-5">
      {% include_anything '/var/www/media/map2.svg' %}
      <div class="row">
        <div class="col-md-6">
          {% for waste in wastes_left %}
          <div class="form-check" id="select-waste">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="wasteSelect" id="exampleRadios1" value="{{ waste.slug }}">
            {{ waste.name }}
            </label>
          </div>
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for waste in wastes_right %}
          <div class="form-check" id="select-waste">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="wasteSelect" id="exampleRadios1" value="{{ waste.slug }}">
            {{ waste.name }}
            </label>
          </div>
          {% endfor %}
        </div>
      </div>

      <a href="{% url 'consulter' %}" class="btn btn-secondary btn-block">Consulter la carte</a>
    </div>
  </div>

{% endblock body %}

{% block bottom %}
  {{ block.super }}

  <script type="text/javascript">

  /* form submission */
  $("#contribution-form").submit(function(event){
    data = {};
    $('#id_insee').val($('#insee').val());
    $('#dustbins').children().each(function(i){
      var key = $(this).data().dustbin
      data[key] = [];
      $(this).find('.waste').each(function(j){
        data[key].push($(this).data().waste);
      })
    })
    $('#id_trashes').val(JSON.stringify(data))
  });

  /* drag and drop handlers */
  function dragstart_handler(ev) {
    ev.dataTransfer.setData("Text", ev.target.id);
    $('#log').val($('#log').val()+'\n DRAG START:'+ev.target.id)
  }
  function dragover_handler(ev) {
    ev.preventDefault();
    ev.dataTransfer.dropEffect = "move";
    $('#log').val($('#log').val()+'DRAG OVER')
    return false;
  }
  function drop_handler(ev) {
    $('#log').val($('#log').val()+'\n DROP')
    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    var dropZone = $(ev.target).closest(".dustbin").find(".drop-zone");
    $('#log').val($('#log').val()+'\n DROPZONE from ' + data)
    if(dropZone.length > 0){
      dropZone.append(document.getElementById(data));
    }else{
      $('#wastes').prepend(document.getElementById(data));
    }
    return false;
  }

  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>

  <script type="text/javascript">
    var arrondissements = {
      75001:{text:"75001 Paris 1er", id:"75101"},
      75002:{text:"75002 Paris 2e", id:"75102"},
      75003:{text:"75003 Paris 3e", id:"75103"},
      75004:{text:"75004 Paris 4e", id:"75104"},
      75005:{text:"75005 Paris 5e", id:"75105"},
      75006:{text:"75006 Paris 6e", id:"75106"},
      75007:{text:"75007 Paris 7e", id:"75107"},
      75008:{text:"75008 Paris 8e", id:"75108"},
      75009:{text:"75009 Paris 9e", id:"75109"},
      75010:{text:"75010 Paris 10e", id:"75110"},
      75011:{text:"75011 Paris 11e", id:"75111"},
      75012:{text:"75012 Paris 12e", id:"75112"},
      75013:{text:"75013 Paris 13e", id:"75113"},
      75014:{text:"75014 Paris 14e", id:"75114"},
      75015:{text:"75015 Paris 15e", id:"75115"},
      75016:{text:"75016 Paris 16e", id:"75116"},
      75017:{text:"75017 Paris 17e", id:"75117"},
      75018:{text:"75018 Paris 18e", id:"75118"},
      75019:{text:"75019 Paris 19e", id:"75119"},
      75020:{text:"75020 Paris 20e", id:"75120"},
      69001:{text:"69001 Lyon 1er", id:"69381"},
      69002:{text:"69002 Lyon 2e", id:"69382"},
      69003:{text:"69003 Lyon 3e", id:"69383"},
      69004:{text:"69004 Lyon 4e", id:"69384"},
      69005:{text:"69005 Lyon 5e", id:"69385"},
      69006:{text:"69006 Lyon 6e", id:"69386"},
      69007:{text:"69007 Lyon 7e", id:"69387"},
      69008:{text:"69008 Lyon 8e", id:"69388"},
      69009:{text:"69009 Lyon 9e", id:"69389"},
      13001:{text:"13001 Marseille 1er", id:"13201"},
      13002:{text:"13002 Marseille 2e", id:"13202"},
      13003:{text:"13003 Marseille 3e", id:"13203"},
      13004:{text:"13004 Marseille 4e", id:"13204"},
      13005:{text:"13005 Marseille 5e", id:"13205"},
      13006:{text:"13006 Marseille 6e", id:"13206"},
      13007:{text:"13007 Marseille 7e", id:"13207"},
      13008:{text:"13008 Marseille 8e", id:"13208"},
      13009:{text:"13009 Marseille 9e", id:"13209"},
      13010:{text:"13010 Marseille 10e", id:"13210"},
      13011:{text:"13011 Marseille 11e", id:"13211"},
      13012:{text:"13012 Marseille 12e", id:"13212"},
      13013:{text:"13013 Marseille 13e", id:"13213"},
      13014:{text:"13014 Marseille 14e", id:"13214"},
      13015:{text:"13015 Marseille 15e", id:"13215"},
      13016:{text:"13016 Marseille 16e", id:"13216"}
    };

    $('#insee').select2({
      selectOnClose: true,
      multiple:false,
      minimumInputLength: 5,
      maximumInputLength: 5,
      language: {
        inputTooShort: function() {
          return false;
        }
      },
      ajax:{
        url: 'https://geo.api.gouv.fr/communes',
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            codePostal: params.term
          };
        },
        processResults: function (data, params) {
          if(arrondissements[params.term]){
            return {
              results:[arrondissements[params.term]]
            }
          }
          return {
            results: data.map(function(item) {
              return {
                id : item.code,
                text : item.codesPostaux+' '+item.nom
              };
            })
          };
        },
        cache: true
        },
        escapeMarkup: function (markup) { return markup; }
    });
    //$('#insee').select2('open');
  </script>
  <script type="text/javascript">
    $( document ).ready(function() {
      $('svg > g > g').removeClass('bouteillePlastique canette alimentaire barquettePlastique verre nonRecyclable emballageCarton papier');
      $('#select-waste')
      $('input[type=radio][name=wasteSelect]').change(function() {
        $('svg > g > g').removeClass('bouteillePlastique canette alimentaire barquettePlastique verre nonRecyclable emballageCarton papier');
        $('svg > g > g').addClass(this.value);
      });
      $("input[type=radio][name=wasteSelect]").first().click();
    });
  </script>
{% endblock bottom %}
